<div class="containter">
    
     <h3>Contact us</h3>

   
        <form>
            
          <div class="row">
            
              <div class="col-md-6">

          <label for="CltName">Name</label>
          <input type="text" class="form-control" id="CltName">
              
        <br>
        
          <label for="CltEmail">Email</label>
          <input type="text" class="form-control" id="CltEmail" >

          <br>
        
          <label for="CltPhone">Phone (optional)</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
              
              </div>

              <div class="col-md-6">

                <label for="MsgTxt">Message</label>
                <textarea class="form-control" id="MsgTxt" rows="8"></textarea>

              </div>
         </div>  
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>

          

         </form>

      <div class="row" id="secTwo">

        <i class="fa-sharp fa-solid fa-location-dot"></i> <div>17 Street address line </div>
        <div> Address line two </div>

      </div>
  

</div>