form{

    margin-top: 8%;
}

label{

    margin-bottom: 4%;
}

button{

    margin-top: 4%;
}

span{

    color:red;
    font-weight: 900;
}

mat-spinner{
    
    margin-left: 40%;
    display: none;
}

.hide{
    display: none;
}

.show {
    display: block;
}