
<div id="MainWraper">

  
    
    <div id="img-bg">

        <div id="img-wr">


            <div id="line-1">{{ imageLine }}</div>

                <span *ngIf="menuStatus">

                <ul id="SideMenu">
                    <li><a href="">Home</a> </li>
                    <li> <a href="">About us</a> </li>
                    <li> <a href="">Products</a> </li>
                    <li> <a href="">Contact us</a> </li>
                </ul>
        
               </span>
        


        </div>


    </div>

    

    <div id="sec-1">
        
        <h1 class="headline" >{{firstHeadline}}</h1>

        <p class="page-parag">{{firstParagraph}}</p>
        

    </div>
    
    <div id="sec-2">
       
        
        <div class="container">
            <div class="row align-items-center">
              
              <div class="col-md text-center" id="left-col">

                <img src="http://localhost:8000/storage/photos/sideImage.jpg" class="img-fluid" alt="side image">

              </div>
              <div class="col-md " id="right-col">
                {{sideParagraph}}
              </div>

            </div>
          </div>

    </div>  
    <!-- End of section two -->
    

</div>





