
<div id="MainWraper">
    
    <div id="img-bg">

        <div id="img-wr">


            <div id="line-1">{{mainLine}}</div>

                <span *ngIf="menuStatus">

                <ul id="SideMenu">
                    <li><a href="">Home</a> </li>
                    <li> <a href="">About us</a> </li>
                    <li> <a href="">Products</a> </li>
                    <li> <a href="">Contact us</a> </li>
                </ul>
        
               </span>
        


        </div>


    </div>

    <div id="sec-1">
        
        <h1 class="headline">section one text </h1>

        <p class="page-parag">{{firstParagraph}}</p>

    </div>
    
    <div id="sec-2">
        <div>section two </div>
    </div>


</div>





