html,body,.container {
    height:100%;
    
}

.col-4{

    background-color: #1C2833;
    height: 100%;
    padding: 10% 4%;
    text-align: center;
}

.mat-button{
    color: white;
    margin-bottom: 10%;
}

.col-8{

    text-align: center;
    margin-top: 3%;
    height: 100%;
}