<div class="containter">

    <div class="row">

    
        <div class="col-4"> 
            <div class="row">
                <button mat-raised-button color="warn" (click)="logoutSubmit()" >Logout</button>
            </div>
            
            <div class="row">
                <button mat-button color="primary" (click)="backgroundLine()" >Background Line</button>
            </div>
            <div class="row">
                <button mat-button color="primary" (click)="backgroundImage()" >Background Image</button>
            </div>

            <div class="row">
                <button mat-button color="primary" (click)="logo()" >Logo</button>
            </div>
            
         </div>

        <div class="col-8"> <router-outlet></router-outlet> </div>

    </div>


    <div id="nav"></div>

</div>
